header div {
  width: 100%;
  height: 100px;
  background-image: url("../img/fondo1.jpg");
  border-radius: 10px;
}

footer {
  padding-top: 10px;
  border-top: white 1px solid;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer h2 {
  font-size: 60px;
  color: #8d8b04;
  animation: rotation 2s infinite linear;
}

aside {
  border-left: white 1px solid;
  padding: 5px;
  align-items: center;
  justify-content: space-around;
}
aside img:hover {
  transform: rotate(5deg);
}
aside ul {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

main img:hover {
  transform: scale(1.08, 1.08);
  transition: 0.7s;
}

.spaceEvenly {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.nombrePagina {
  text-decoration: underline;
}

.foto {
  display: block;
  max-width: 95%;
  border-radius: 15px;
}

.video {
  display: block;
  max-width: 90%;
  max-height: 90%;
  border-radius: 15px;
}

.espaciado {
  margin: 15px 0;
}

.enlace {
  text-decoration: none;
  color: rgba(205, 253, 72, 0.856);
  font-size: 20px;
  border: black 1px solid;
  border-radius: 3px;
  background-color: black;
}

.imagenEnlace {
  width: 40px;
  height: 40px;
  margin: 0 8px;
}
.imagenEnlace:hover {
  animation: tada;
  animation-duration: 0.5s;
}

.enlaceAside {
  width: 12vw;
  height: 4vw;
  background-color: white;
}
.enlaceAside:hover {
  animation: heartBeat;
  animation-duration: 2s;
}

.centrar {
  display: block;
  margin: 0px auto;
}

.centrado {
  display: flex;
  align-items: center !important;
}

.tituloPrincipal {
  color: white;
  text-decoration: none;
  font-family: "Tajawal", sans-serif;
  margin: 0 10px;
  font-size: 5vw;
}

.tituloSecundario {
  color: #41caf3;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 15px;
  font-size: 4vw;
}

.tituloChico {
  color: #41caf3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2vw;
  margin-top: 15px;
}

.parrafo {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  color: white;
}

.logo {
  width: 7vw;
  height: 7vw;
  margin: 0;
  animation: flip;
  animation-duration: 0.5s;
}

.borde {
  border: black 1.5px solid;
  border-radius: 15px;
}

.itemMenu {
  font-size: 16px;
  color: white !important;
}

.visibility {
  display: none;
}

.menu {
  border-bottom: white 2px solid !important;
}

.staticAside {
  position: sticky;
  top: 0;
}

.contenedor {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  background-color: black;
}

img {
  border-radius: 15px;
}

h3, h4 {
  color: #8d8b04;
}

.aparecerDerecha {
  animation: backInRight;
  animation-duration: 2s;
}

.aparecerIzquierda {
  animation: backInLeft;
  animation-duration: 2s;
}

@keyframes rotation {
  from {
    transform: rotateY(359deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
.rainbow-button {
  width: calc(10vw + 6px);
  height: calc(4vw + 6px);
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.5vw;
  font-weight: bold;
}

.rainbow-button:after {
  content: attr(alt);
  width: 10vw;
  height: 4vw;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rainbow-button:hover {
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .itemMenu {
    font-size: 1.5vw;
    color: white !important;
  }

  .logo {
    width: 7.5vw;
    height: 7.5vw;
    margin: 0;
  }

  .enlaceAside {
    width: 15vw;
    height: 5vw;
  }

  .tituloChico {
    font-size: 4vw;
  }
}
@media (max-width: 768px) {
  div header div img {
    width: 20vw;
    height: 20vw;
  }

  header nav a {
    font-size: 4.3vw;
    color: black;
  }

  aside {
    border-top: white 1px solid;
    border-left: none;
  }

  .spaceEvenly {
    flex-direction: column;
  }

  .enlaceAside {
    width: 25vw;
    height: 10vw;
  }

  .enLinea {
    display: inline-flex;
    flex-direction: row;
  }

  .logo {
    width: 12vw;
    height: 12vw;
    margin: 0;
  }

  .tituloPrincipal {
    color: white;
    text-decoration: none;
    font-family: "Tajawal", sans-serif;
    margin: 0 10px;
    font-size: 5vw;
  }

  .itemMenu {
    font-size: 15px;
    color: white !important;
  }

  .rainbow-button {
    width: calc(20vw + 6px);
    height: calc(8vw + 6px);
    font-size: 3vw;
  }

  .rainbow-button:after {
    width: 20vw;
    height: 8vw;
  }

  .tituloChico {
    font-size: 4vw;
  }

  .video {
    width: 400px;
    height: 300px;
    border-radius: 15px;
  }
}
@media (max-width: 576px) {
  .visibility {
    display: inline;
  }

  .tituloChico {
    font-size: 6vw;
  }

  .tituloSecundario {
    font-size: 5vw;
  }

  .video {
    width: 300px;
    height: 200px;
    border-radius: 15px;
  }

  .enLinea {
    display: block;
  }

  .enlaceAside {
    width: 35vw;
    height: 12vw;
  }
}

/*# sourceMappingURL=style.css.map */
