@import"../components/header";
@import"../components/footer";
@import"../components/aside";
@import"../components/main";
@import"../base/variables";
@import"../components/clases";
@import"../base/extends";
@import "../base/mixin";

// Reseteo CSS
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
body{
    background-color: $colorTerciario;
}
img{
    border-radius: 15px;
}
h3, h4{
    color: $colorAlternativo;
}

// Animaciones, Transformaciones
.aparecerDerecha{
    animation: backInRight; 
    animation-duration: 2s;  
}
.aparecerIzquierda{
    animation: backInLeft; 
    animation-duration: 2s;  
}

@keyframes rotation {
    from {
      transform: rotateY(359deg);
    }
    to {
      transform: rotateY(0deg);
    }
}

//   Rainbow Button
  .rainbow-button {
    width:calc(10vw + 6px);
    height:calc(4vw + 6px);
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    font-size:1.5vw;
    font-weight:bold;
  }
  .rainbow-button:after {
    content:attr(alt);
    width:10vw;
    height:4vw;
    background-color:#191919;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .rainbow-button:hover {
    animation:slidebg 2s linear infinite;
  }
  
  @keyframes slidebg {
    to {
      background-position:20vw;
    }
}
  
// Responsive md lg
@media (min-width: 769px) and (max-width: 1200px){   
    .itemMenu{
        font-size: 1.5vw;
        color: $colorSecundario!important;
    }
    .logo{
        @include imagen(7.5vw, 7.5vw, 0);        
    }
    .enlaceAside{
        width: 15vw;
        height: 5vw;
    }   
    .tituloChico{
        font-size: 4vw;        
    }     
}
  
// Responsive sm
@media (max-width: 768px){
   
    div header div img{
        width: 20vw;
        height: 20vw;
    }          
    header nav a{
        font-size: 4.3vw;
        color: $colorTerciario;
    }
    aside{
        border-top: $colorSecundario 1px solid ;
        border-left: none;
    }
    // clases           
    .spaceEvenly{
        flex-direction:column;
    }
    .enlaceAside{
        width: 25vw;
        height: 10vw;    
    }
    .enLinea{
        display: inline-flex;
        flex-direction: row;
    }
    .logo{
        @include imagen(12vw, 12vw, 0);       
    }
    .tituloPrincipal{
        color: $colorSecundario;
        text-decoration: none;
        font-family: map-get($map: $fuentes, $key: tituloPrincipal);
        margin: 0 10px;
        font-size: map-get($map: $fuentes, $key:grande);
    }
    .itemMenu{
        font-size: 15px;
        color: $colorSecundario!important;
    }
      
     //   Rainbow Button
  .rainbow-button {
    width:calc(20vw + 6px);
    height:calc(8vw + 6px);
    font-size:3vw;   
  }
  .rainbow-button:after {
    width:20vw;
    height:8vw;    
  }   
  .tituloChico{
    font-size: 4vw;  
  }    
  .video{
    width: 400px; 
    height: 300px;
    border-radius: 15px;
    }  
}

// Responsive xsm
@media (max-width: 576px){
    .visibility{
        display:inline;
    } 
    .tituloChico{
        font-size: 6vw;        
    }
    .tituloSecundario{
        font-size: 5vw;
    }
    .video{
        width: 300px; 
        height: 200px;
        border-radius: 15px;
    }  
    .enLinea{
        display:block;        
    }
}
    

  

