@import"../components/header";
@import"../components/footer";
@import"../components/aside";
@import"../components/main";
@import"../base/variables";
@import"../components/clases";
@import"../base/extends";
@import "../base/mixin";

// Reseteo CSS
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
body{
    background-color: $colorPrimario;
}
iframe{
    width: 95%;
    height: auto;    
}
img{
    border-radius: 15px;
}

// Animaciones, Transformaciones
.aparecerDerecha{
    animation: backInRight; 
    animation-duration: 2s;  
}
.aparecerIzquierda{
    animation: backInLeft; 
    animation-duration: 2s;  
}
@keyframes rotation {
    from {
      transform: rotateY(359deg);
    }
    to {
      transform: rotateY(0deg);
    }
  }

// Responsive md lg
@media (min-width: 769px) and (max-width: 1200px){
   
    .itemMenu{
        font-size: 1.5vw;
        color: $colorSecundario!important;
    }
    .logo{
        @include imagen(7.5vw, 7.5vw, 0);
        animation: flip;
        animation-duration: 0.5s;
    }
    .enlaceAside{
        width: 15vw;
        height: 5vw;      
    }   
}
  
// Responsive sm
@media (max-width: 768px){
    div header div img{
        width: 20vw;
        height: 20vw;
    }    
    div aside{
        border-top: black 1px solid ;
        border-left: none;        
    }
    header nav a{
        font-size: 4.3vw;
        color: black;
    }
   
    // clases           
    .spaceEvenly{
        flex-direction:column;
    }
  
    .enlaceAside{
        width: 25vw;
        height: 10vw;           
    }
    
    .logo{
        @include imagen(12vw, 12vw, 0);
        animation: flip;
        animation-duration: 0.5s;
    }
    .tituloPrincipal{
        color: $colorSecundario;
        text-decoration: none;
        font-family: map-get($map: $fuentes, $key: tituloPrincipal);
        margin: 0 10px;
        font-size: map-get($map: $fuentes, $key:grande);
    }
    .itemMenu{
        font-size: 15px;
        color: $colorSecundario!important;
    }   
}

// Responsive xsm
@media (max-width: 576px){
    .visibility{
        display:inline;
    } 

}
    

  

