
aside{
    border-left: $colorSecundario 1px solid ;
    padding: 5px;
    align-items:center;
    justify-content: space-around;

    img{
        &:hover{
            transform:rotate(5deg);
        }        
    }
     ul{
        display:inline-flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-around;
    }
   
}