
aside{
    border-left: $colorTerciario 1px solid ;
    padding: 5px;
    align-items:center;
    justify-content: space-around;

    img{
        width: 150px;
        height: 100px;
        &:hover{
            transform:rotate(5deg);
        }        
    }
     ul{
        display:inline-flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-around;
    }
   
}