@import"../base/mixin";
@import"../base/variables";

.spaceEvenly{
    width: 100%;
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;    
}
.contenedor{
    @extend %disposicionHorizontal;

}
.nombrePagina{
    text-decoration: underline;
}
  
.foto{
    display: block; 
    max-width: 95%; 
    border-radius: 15px;
}
.video{
    display: block; 
    max-width: 90%; 
    max-height: 90%;
    border-radius: 15px;
}
.espaciado{
    margin: 15px 0;
}
.enlace {
    text-decoration: none;
    color: $colorEnlace;
    font-size: 20px;
    border: $colorTerciario 1px solid;
    border-radius: 3px;
    background-color: $colorTerciario;  
}

.imagenEnlace{
    @include imagen(40px, 40px, 0 8px);    
    &:hover{
        animation: tada;
        animation-duration: 0.5s;
    }
}
.enlaceAside{
    width: 12vw;
    height: 4vw;
    background-color: $colorSecundario;
    &:hover{
        animation: heartBeat; 
        animation-duration: 2s;
    }   
}

.centrar{
    display: block;
    margin: 0px auto;    
}
.centrado{  
    display: flex;
    align-items: center !important;
}
.tituloPrincipal{
    color: $colorSecundario;
    text-decoration: none;
    font-family: map-get($map: $fuentes, $key: tituloPrincipal);
    margin: 0 10px;
    font-size: map-get($map: $fuentes, $key:grande)
}
.tituloSecundario{
    color: $colorPrimario; 
    font-family: map-get($map: $fuentes, $key: tituloSecundario); 
    margin-top: 15px;
    font-size: 4vw;
}
.tituloChico{
    color: $colorPrimario; 
    font-family: map-get($map: $fuentes, $key: tituloSecundario); 
    font-size: 2vw;
    margin-top: 15px;
}
.parrafo{
    font-family: map-get($map: $fuentes, $key: parrafo);
    font-size: map-get($map: $fuentes, $key: media);
    color: $colorSecundario;
}

.logo{
    @include imagen(7vw, 7vw, 0);
    animation: flip;
    animation-duration: 0.5s;
}
.borde{
    border: $colorTerciario 1.5px solid;
    border-radius: 15px;
}
.itemMenu{
    font-size: map-get($map: $fuentes, $key: media);
    color: $colorSecundario!important;
}
.visibility{
    display: none;
}
.menu{
    border-bottom: $colorSecundario 2px solid !important;
}

.staticAside{
    position: sticky;
    top: 0;
}
    
