
// Variables

$colorPrimario: rgb(65, 202, 243);
$colorSecundario: white;
$colorTerciario: black;
$colorEnlace: rgba(205, 253, 72, 0.856);
$colorAlternativo: rgb(141, 139, 4);

// Mapas

$fuentes: (
    grande: 5vw,
    media: 16px,
    chica: 1vw,
    tituloPrincipal: ("Tajawal", sans-serif),
    tituloSecundario: (Georgia, "Times New Roman", Times, serif),
    parrafo: ("Assistant", sans-serif),
);



