
// Variables

$colorPrimario: rgb(4, 125, 161);
$colorSecundario: white;
$colorTerciario: black;
$colorEnlace: rgb(5, 5, 80);
$colorAlternativo: rgb(2, 2, 44);

// Mapas

$fuentes: (
    grande: 6vw,
    media: 18px,
    chica: 1.5vw,
    tituloPrincipal: ("Tajawal", sans-serif),
    tituloSecundario: (Georgia, "Times New Roman", Times, serif),
    parrafo: ("Assistant", sans-serif),
);



